<ul class="sidebar-nav list-group">
  {% if user.is_authenticated %}
    <li class="list-group-item">
      <div class="d-flex align-items-center">
      User:
      <a href="#" class="ml-2">{{ user.get_username }}</a>
        <form method="post"
              action="{% url 'accounts:logout' %}"
              class="ml-auto">
          {% csrf_token %}
          <button type="submit" class="btn btn-primary btn-sm">
            Logout
          </button>
        </form>
      </div>
    </li>



  {% else %}
    <li class="list-group-item"><a href="#">Login</a></li>
  {% endif %}
  <br>

  <li class="list-group-item"><a href="#">Home</a></li>
  <li class="list-group-item"><a href="#">All drivers</a></li>
  <li class="list-group-item"><a href="#">All cars</a></li>
  <li class="list-group-item"><a href="#">All manufacturers</a></li>
</ul>
