<ul class="sidebar-nav list-group">
  {% if user.is_authenticated %}
    <li class="list-group-item">
      <div class="d-flex align-items-center">
        User:
        <a href="#" class="ml-2">{{ user.get_username }}</a>
        <form method="post"
              action="{% url 'accounts:logout' %}"
              class="ml-auto">
          {% csrf_token %}
          <button type="submit" class="btn btn-primary btn-sm">
            Logout
          </button>
        </form>
      </div>
    </li>
  {% else %}
    <li class="list-group-item"><a href="#">Login</a></li>
  {% endif %}
  <br>

  <li class="list-group-item"><a href="{% url "core:index" %}">Home</a></li>
  <li class="list-group-item"><a href="{% url 'tasks:task-list' %}">Tasks</a></li>
  <li class="list-group-item"><a href="#">Colleagues</a></li>
  <li class="list-group-item"><a href="#">My Tasks</a></li>
</ul>
